<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leyu.mapper.CorporationMapper">
  <resultMap id="BaseResultMap" type="com.leyu.pojo.Corporation">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="short_name" jdbcType="VARCHAR" property="shortName" />
    <result column="business_license" jdbcType="VARCHAR" property="businessLicense" />
    <result column="business_license_img" jdbcType="VARCHAR" property="businessLicenseImg" />
    <result column="contacts" jdbcType="VARCHAR" property="contacts" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="province" jdbcType="INTEGER" property="province" />
    <result column="city" jdbcType="INTEGER" property="city" />
    <result column="district" jdbcType="INTEGER" property="district" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="add_date" jdbcType="TIMESTAMP" property="addDate" />
  </resultMap>

  <sql id="Base_Column_List">
    id, `name`, short_name, business_license, business_license_img, contacts, phone, 
    email, province, city, district, address, `status`, is_del, remark, add_date
  </sql>

  <select id="queryList" resultType="Corporation">
    SELECT * FROM tb_corporation t  where 1=1
    <if test="param!=null and param.name!=null and param.name!=''"> and t.name like "%"#{param.name}"%"</if>
    ORDER BY id DESC
  </select>

</mapper>